@using MvcStock.Models.Entity
@using PagedList;
@using PagedList.Mvc
@model PagedList.IPagedList<TblSale>
@{
    ViewBag.Title = "GetSaleList";
    Layout = "~/Views/Shared/_NavigationBarLayout.cshtml";
}

@using (Html.BeginForm("GetSaleListS", "Sale", FormMethod.Get, new { autocomplete = "off" }))
{
    <p>
        <b>Müşteri Adı:</b> @Html.TextBox("search")
        <input type="submit" value="Arama Yap" />
    </p>
}
<br />
<table class="table table-bordered">
    <tr>
        <th>SATIŞ ID</th>
        <th>ÜRÜN</th>
        <th>MÜŞTERİ</th>
        <th>ADET</th>
        <th>ÜRÜN FİYATI</th>
    </tr>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.Sale</td>
                <td>@sale.TblProduct.ProductName</td>
                <td>@sale.TblCustomer.CustomerName&nbsp;@sale.TblCustomer.CustomerSurname</td>
                <td>@sale.Total</td>
                <td>@sale.Price</td>
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("GetSaleList", new { page }))

