@using MvcStock.Models.Entity
@model List<TblProduct>
    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_NavigationBarLayout.cshtml";
    }

    <a class="btn btn-primary" href="/Product/AddNewProduct">YENİ ÜRÜN EKLE</a>
<br />
<br />
    <table id="tblProductList" class="table table-bordered">
        <thead>
            <tr>
                <th>ÜRÜN NUMARASI</th>
                <th>ÜRÜN ADI</th>
                <th>ÜRÜN MARKASI</th>
                <th>ÜRÜN KETEGORİSİ</th>
                <th>ÜRÜN FİYATI</th>
                <th>STOK ADETİ</th>
                <th>SİL</th>
                <th>GÜNCELLE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.Marka</td>
                    <td>@product.TblCategory.CategoryName</td>
                    <td>@product.Price</td>
                    <td>@product.Stock</td>
                    <td><a href="/Product/Delete/@product.ProductId" class="btn btn-danger">SİL</a></td>
                    <td><a href="/Product/GetProduct/@product.ProductId" class="btn btn-success">GÜNCELLE</a></td>
                </tr>
            }
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css
" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css
" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js
 "></script>



    <link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <script>
        $('#tblProductList').DataTable();
    </script>